// Button
.button {
  border: 1px solid $white;
  border-radius: 4px;
  background: transparent;
  color: $white;
  font-family: 'PoeRedcoatNew', Helvetica, Arial, sans-serif;
  font-size: 20px;
  cursor: pointer;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;

  @include breakpoint(sm) {
    padding: 8px 92px;
    display: inline;
  }
}