// Button
.button {
  border: 1px solid $white;
  border-radius: 4px;
  background: transparent;
  color: $white;
  font-family: 'PoeRedcoatNew', Helvetica, Arial, sans-serif;
  font-size: 20px;
  cursor: pointer;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: all .2s ease-in-out;
  width: 100%;

  @include breakpoint(sm) {
    padding: 8px 92px;
    display: inline;
    width: auto;
  }
}

a.button:hover {
  text-decoration: none;
}

.button.button__cta {

  &:hover {
    background: rgba(255,255,255,0.1);
  }

  &:active {
    top: 2px;
    position: relative;
  }
}

.button.button__link {
  border: 0;
  font-size: 1rem;
  color: $gray-medium;

  &:hover {
    text-decoration: underline;
  }
}