html {
  margin: 0;
  padding: 0;
}

body {
  background: $black;
  margin: 0;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.alert.alert__error {
  color: $pink;
  text-align: center;
}

.wallet-address {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @include breakpoint(sm) {
    transform: none;
    left: 24px;
  }

  & p {
    color: $gray-medium;
    font-size: .75rem;
  }
}